/**** welcome screen ****/
html, body{
  margin: 0 auto;
  background: linear-gradient(180deg, #2196f3, #03a9f4) fixed;

}

.intro h1{
  color:#fdb957;
  text-shadow: 1px 1px black;
  text-align: center;
  font-size: 65px;
  margin: auto;
  padding-top:30px;
}


.intro h3{
  text-align: center;
  margin:auto;
  color:#fff;
  text-shadow: 1px 1px black;
}

/***resource modal ***/

#sources{
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: -63px;
  right: 30px;
  z-index: 10001;
}

#modalSources{
  display:none;
  width:50%;
  height: 400px;
  z-index: 11;
  background: rgba(10, 15, 19, 0.67);
  text-align: center;
  position: absolute;
  top: 175px;
  left: 300px;
  overflow-y:scroll;
  padding: 0 30px 0 30px;
  border-radius: 1%;
  -webkit-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
}

.overlay{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index:10;
  background-color: rgba(0,0,0,0.5);
  display:none;
}

.modal-content-sources{
  margin: 0 auto;
  text-align: left;
}

.modal-content-sources a, .modal-content-sources h2{
  text-decoration: none;
  color:#2e7fca;
}


ul{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}



footer a{
  text-decoration: underline;
  color: #fff;
}

.modal-content-sources, footer a{
  font-weight: bold;
}


.modal-content-sources h3{
  /*color: #1f5694;*/
  color:#7e8ea0;

}

#close{
  color:#fff;
  font-size: 30px;
  position: absolute;
  right:30px;
  padding: 10px;
}



/*** welcome screen/modal **/
.modal {
  display:none;
  background-color:  rgba(9, 117, 136, 0.91);
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */

}

/* Modal Content/Box */
.modal-content h2, .modal-content p{
  color:white;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

.modal-content h2{
  padding-top: 180px;
}


.modal-content p{
  font-size: 22px;
  padding: 0 20px 0 20px;
  margin: 0 15% 0 15%;
}


/* The Close Button */
.close {
  color: #fff;
  float: left;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  left: 30px;

}


.close:hover,
.close:focus {
  color: #082035;
  text-decoration: none;
  cursor: pointer;
}


/*** main page ***/
#info{
  padding-top: 20px;
  position: absolute;
  right: 98px;
  top: -84px;
  font-size: 1.5em;
  z-index: 10001;
}

.home-icon{
  color: white;
  font-size: 2.5em;
  position: absolute;
  top: -70px;
  left: 23px;
  z-index: 10001;

}

.inventor-screen{
  background-size: cover;
  width:1024px;
  height:768px;
  position: absolute;
  top: -14px;
  left: 0;
}

.home-screen{
  background: url(./images/IM-design.png) no-repeat /*fixed*/;
  width: 1024px;
  height: 680px;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  z-index:1;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
}


.wrapper{
  width:1028px;
  height:728px;
  position:relative;
  top:40px;
  margin: auto;
}



.info-bio p{
  margin: 30px;
  text-align: left;
  line-height: 20px;
  font-size: 14px;
}

.inventory-slide{
  margin: 0;
  padding: 0;
  list-style-type: none;
  position:relative;
  top:30%;


}

.inventory-slide li img{
  width:200px;
  height:auto;

}

.inventory-slide li{
  display:inline-block;
  margin:20px;
}

.inventory-slide .inventions{
  width:100px;
  height:auto;
  position: absolute;
  top:20%;
  left:20%;
}

.inventory-slide .squares{
  width:160px;
  height:150px;
  background-color:#fff;
  position: relative;
  top: 10px;
  left: 15px;

}

.inventory-slide .outer-square{
  background-color:#1299eb;
  width: 190px;
  height: 220px;
  position: relative;
  left: 50px;
  -webkit-box-shadow: 3px 1px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 1px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 1px 25px 0px rgba(0,0,0,0.75);
}

.inventory-slide .circle{
  width:60px;
  height:60px;
  border-radius: 50%;
  background-color:#fdae43;
  position: relative;
  top: 130px;
  left: 50px;
}

.date{
  color:#fff;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 10;
}

footer{
  position: relative;
  top: 430px;
  text-align: center;
  margin:0 auto;

}

footer p{
  color:white;
  font-size: 16px;
  font-weight: 300;
  text-shadow:0px 0px 11px rgba(55, 91, 117, 0.82);
  padding-bottom: 30px;
}



/*** image slider ****/



.slick-prev:before, .slick-next:before{
  color: #fff;
  text-shadow: -1px 1px 6px rgb(0, 0, 0);
  font-size: 21px;

}

.slick-next{
  margin-right:32px;
}

.slick-prev{
  margin-left:32px;
  z-index:10;
}

.slick-slide:focus
{
  outline: none;
}

/*** inventor page ****/

.inventor-info{
  position: absolute;
  left: 30%;
  top: 395px;
  z-index:10000;
  width: 65%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.92);
  font-family:'Open Sans', sans-serif;
  font-size: 15px;
  margin:0 auto;
}

.info-date p{
  color:#3cbac5;
  font-size: 7rem;
  font-weight: bold;
  position: absolute;
  left: 420px;
  top: -232px;

}

.info-header{
  color:white;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(60, 186, 197, 0.9);
  height:40px;
}

.info-header p{
  padding:10px 20px;
  margin: 0 auto;
  text-align: left;
  font-size: 20px;

}

.info-box p:nth-child(2){
  color:black;
  font-size: 13px;
  padding:20px;
}

.overlay, #modalSources, .modal{
  z-index:10002;
}

/*** Media Queries ***/

@media (min-width:768px) and (max-width: 1024px){

  .home-screen, .inventor-screen{
    width:100%;
  }


  #info, #sources{
    margin-left: 95%;
  }


  .inventory-slide .outer-square{
    position: relative;
    left: 0px;
    margin: 0 auto;

  }

}
